.modal-container
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal > div
{
    display: flex;
    justify-content: space-between;
}

.modal > textarea
{
    width: 70vw;
    height: 50vh;
    padding: 10px;
}

.gotoup
{
    position: fixed;
    background: white;
    width: 70px;
    height: 70px;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.gotoup:hover
{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 200ms ease;
}

.gotoup:active
{
    cursor: grabbing;
    transform: scale(0.98);
    transition: transform 200ms ease;
}