:root
{
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --gray-300: #e2e8f0;
}

::-webkit-scrollbar
{
    width: 11px !important;
}

::-webkit-scrollbar-track
{
    background: white !important;
    border-radius: 10px !important;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb
{
    background: #999 !important;
    border-radius: 10px !important;
}

::-webkit-scrollbar-thumb:hover
{
    transition: background 200ms ease;
    background: #888 !important;
}

@font-face
{
    font-family: "sfpro";
    src: url("./fonts/SF PRO/SFPRODISPLAYLIGHTITALIC.OTF") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face
{
    font-family: "sfpro";
    src: url("./fonts/SF PRO/SFPRODISPLAYLIGHTITALIC.OTF") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face
{
    font-family: "sfpro";
    src: url("./fonts/SF PRO/SFPRODISPLAYREGULAR.OTF") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face
{
    font-family: "sfpro";
    src: url("./fonts/SF PRO/SFPRODISPLAYMEDIUM.OTF") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face
{
    font-family: "sfpro";
    src: url("./fonts/SF PRO/SFPRODISPLAYBOLD.OTF") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face
{
    font-family: "sfpro";
    src: url("./fonts/SF PRO/SFPRODISPLAYHEAVYITALIC.OTF") format("opentype");
    font-weight: 800;
    font-style: italic;
}

@font-face
{
    font-family: "heading";
    src: url("./fonts/HEADING NOW/HEADING NOW.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "ibmplexsans";
    src: url("./fonts/IBM PLEX SANS/IBM PLEX SANS.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face
{
    font-family: "inter";
    src: url("./fonts/INTER/INTER.ttf") format("truetype");
    font-style: normal;
}

@font-face
{
    font-family: "inter";
    src: url("./fonts/INTER/INTER ITALIC.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

*,*::before,*::after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000;
    background: transparent;
    font-family: sfpro;
    user-select: none;
}

p, h1, h2, h3, h4, h5, h6, a, li, ul, img, input, span
{
    text-decoration: none;
    color: #2D3748;
    border: none;
    outline: none;
    font-weight: 500;
    line-height: 1.5;
    text-align: justify;
}

html, body
{
    overflow-y: hidden;
}